[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenSCLConfiguratorGTK
Exec=opensclconfiguratorgtk
Terminal=false
Comment=IEC 61850-6 SCL Viewer and Editor
Categories=Engineering;
